<!DOCTYPE html>
<html>
	<head>
		<title>ASEAN (Association of Souteast Asian Nations)</title>
		<link href="style.css" rel="stylesheet" />
	</head>
	<body>
		<h1>Cache Money</h1>
		<h3>Taylor Cannon, Zac Lozano, Anres Echeverria, Travis Cammack, James Kunze, Rene Trevino</h3>
		<div style="margin-left: 20%; margin-right: 20%;">
		<table id="link_table" border="0" >
			<tr>
				<td/>
				<td align=center>
					<a href="db_page.html">Importing/Exporting</a>
				</td>
				<td/>
			</tr>
			<tr>
				<td><b>Crises</b></td>
				<td><b>People</b></td>
				<td><b>Organizations</b></td>
			</tr>
			<tr>
				<td><a href="Human_Trafficking_page.html">Human Trafficking</a></td>
				<td><a href="Ricky_Martin_page.html">Ricky Martin</a></td>
				<td><a href="ASEAN_page.html">ASEAN</a></td>
			</tr>
			<tr>
				<td><a href="China_Maritime_Conflict_page.html">China Maritime Conflict</a></td>
				<td><a href="John_Kerry_page.html">John Kerry</a></td>
				<td><a href="Polaris_Project_page.html">Polaris Project</a></td>
			</tr>
			<tr>
				<td><a href="North_Korean_Conflict_page.html">North Korean Conflict</a></td>
				<td><a href="Mohamed_Morsi_page.html">Mohamed Morsi</a></td>
				<td><a href="BNP_Paribas_page.html">BNP Paribas</a></td>
			</tr>
		</table>
		</div>
		<table id="crisis_info" border="0">
			<tr	height="200px">
				<td>
					<span style="text-align: left">
						<h2 style="margin-bottom: 0px; font-size: 50px; text-align: center;">ASEAN</h2>
						<span style="font-size: 20px;">
							Geo-political and economic organization<br/>
							Jakarta, indonesia
						</span>
					</span>
				</td>
				<td rowspan="2">
					<img src="http://www.asean.org/images/asean-logo.png" alt="could not load" width="500px"/>
				</td>
			</tr>
			<tr>
				<td align=center>
					<b>Crises:</b> <a href="China_Martime_Conflict_page.html">China Maritime Conflict</a><br/>
					<b>People:</b> <a href="John_Kerry_page.html">John Kerry</a>
				</td>
			</tr>
			<tr>
				<td align=left colspan="2">
					<ul>
						<li>History</li>
						<ul>
							<li>The Association of Southeast Asian Nations (ASEAN aw!-zee-awn) is a geo-political and economic organisation of ten countries located in Southeast Asia, which was formed on 8 August 1967 by Indonesia, Malaysia, the Philippines, Singapore and Thailand. Since then, membership has expanded to include Brunei, Burma (Myanmar), Cambodia, Laos, and Vietnam. Its aims include accelerating economic growth, social progress, cultural development among its members, protection of regional peace and stability, and opportunities for member countries to discuss differences peacefully.</li>
						</ul>
						<li>Contact Us</li>
						<ul>
							<li>Phone: (6221) 7262991 (6221) 7243372</li>
							<li>Address:  Jl. Sisingamangaraja 70A Jakarta 12110 · Indonesia</li>
							<li>Webpage:  http://www.asean.org/</li>
						</ul>
						<li>Social Networks</li>
						<ul>
							<li><a href="https://twitter.com/ASEAN">Twitter</a></li>
							<li><a href="https://www.facebook.com/TheAseanNewsBlog">Facebook</a></li>
						</ul>
						<li>See also</li>
						<ul>
							<li><a href="http://www.cnn.com/2013/07/01/world/asia/china-asean-code">http://www.cnn.com/2013/07/01/world/asia/china-asean-code</a></li>
						</ul>
						<li>Citations</li>
						<ul>
							<li><a href="http://en.wikipedia.org/wiki/Association_of_Southeast_Asian_Nations">http://en.wikipedia.org/wiki/Association_of_Southeast_Asian_Nations</a></li>
						</ul>
						<li>Videos</li>
							<iframe width="420" height="315" src="https://www.youtube.com/embed/XY9fSljWKHY" frameborder="0" allowfullscreen></iframe>
						<li>Maps</li>
							<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=215995755164694672288.000447e1d913e1d826385&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;z=5&amp;output=embed"></iframe>
					</ul>
				</td>
			</tr>
		</table>
	</body>
</html>
