<!DOCTYPE html>
<html>
	<head>
		<title>BNP Paribas</title>
		<link href="style.css" rel="stylesheet" />
	</head>
	<body>
		<h1>Cache Money</h1>
		<h3>Taylor Cannon, Zac Lozano, Anres Echeverria, Travis Cammack, James Kunze, Rene Trevino</h3>
		<div style="margin-left: 20%; margin-right: 20%;">
		<table id="link_table" border="0" >
			<tr>
				<td/>
				<td align=center>
					<a href="db_page.html">Importing/Exporting</a>
				</td>
				<td/>
			</tr>
			<tr>
				<td><b>Crises</b></td>
				<td><b>People</b></td>
				<td><b>Organizations</b></td>
			</tr>
			<tr>
				<td><a href="Human_Trafficking_page.html">Human Trafficking</a></td>
				<td><a href="Ricky_Martin_page.html">Ricky Martin</a></td>
				<td><a href="ASEAN_page.html">ASEAN</a></td>
			</tr>
			<tr>
				<td><a href="China_Maritime_Conflict_page.html">China Maritime Conflict</a></td>
				<td><a href="John_Kerry_page.html">John Kerry</a></td>
				<td><a href="Polaris_Project_page.html">Polaris Project</a></td>
			</tr>
			<tr>
				<td><a href="North_Korean_Conflict_page.html">North Korean Conflict</a></td>
				<td><a href="Mohamed_Morsi_page.html">Mohamed Morsi</a></td>
				<td><a href="BNP_Paribas.html">BNP Paribas</a></td>
			</tr>
		</table>
		</div>
		<table id="crisis_info" border="0">
			<tr	height="200px">
				<td>
					<span style="text-align: left">
						<h2 style="margin-bottom: 0px; font-size: 50px; text-align: center;">BNP Paribas</h2>
						<span style="font-size: 20px;">
							Global banking group<br/>
						    Boulevard des Italiens, Paris, France
						</span>
					</span>
				</td>
				<td rowspan="2">
					<img src="http://www.altiusdirectory.com/Finance/images/bnp-paribas-logo.png" alt="could not load" width="500px"/>
				</td>
			</tr>
			<tr>
				<td align=center>
					<b>Crises:</b> <a href="">Global Financial Crises</a><br/>
					<b>People:</b> 
				</td>
			</tr>
			<tr>
				<td align=left colspan="2">
					<ul>
						<li>History</li>
						<ul>
							<li>BNP Paribas is one of the world's largest global banking groups, headquartered in Paris, with its second global headquarters in London. It was formed through the merger of Banque Nationale de Paris (BNP) and Paribas in 2000. In 2012, BNP Paribas was ranked by Bloomberg and Forbes as the fourth largest bank in the world, as measured by total assets.</li>
						</ul>
						<li>Contact Us</li>
						<ul>
							<li>Webpage:  http://www.bnpparibas.com/en/contact</li>
						</ul>
						<li>Social Networks</li>
						<ul>
							<li><a href="https://www.facebook.com/bnpparibas.net">Facebook</a></li>
						</ul>
						<li>See also</li>
						<ul>
							<li><a href="http://www.guardian.co.uk/business/2012/aug/07/credit-crunch-boom-bust-timeline">http://www.guardian.co.uk/business/2012/aug/07/credit-crunch-boom-bust-timeline</a></li>
						</ul>
						<li>Citations</li>
						<ul>
							<li><a href="https://en.wikipedia.org/wiki/BNP_Paribas">http://en.wikipedia.org/wiki/BNP_Paribas</a></li>
						</ul>
						<li>Videos</li>
							<iframe width="420" height="315" src="https://www.youtube.com/embed/xuCCeLlodkk" frameborder="0" allowfullscreen></iframe>
						<li>Maps</li>
							<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=paris+bnp+paribas+headquarters&amp;hl=en&amp;sll=48.860982,2.326526&amp;sspn=0.059403,0.131664&amp;hq=paris+bnp+paribas+headquarters&amp;t=m&amp;ie=UTF8&amp;hnear=&amp;z=11&amp;output=embed"></iframe>
					</ul>
				</td>
			</tr>
		</table>
	</body>
</html>
