<h1>We are at upload</h1>

<p>
please select action: 
</p>

<form action="/upload/" method="post"> {% csrf_token %}

<label for="upload">File:</label>
<input type="file" name="upload" id="upload"/>
<input type="submit" value="Submit"/>

</form>

{% if success == 0 %}
	<p>Your files uploaded successfully! Return to <a href="/wcdb/" >home page</a>.</p>
{% else %}{% if success == 1 %}
	<p>Your file seems to be incompatible with our database (does not validate against our schema). Please <a href="/upload/">try again</a>.</P>
{% else %}{% if success == 2 %}
	<p>I'm sorry! There was an error in trying to upload your file.<br/>
	Possibly, the xml is not well-formed. Please <a href="/upload/">try again</a>.</p>
{% endif %}{% endif %}{% endif %}

