{% load url from future %}
<!DOCTYPE html>
<html>
	<head>
		<title>Cache Money</title>
		<link href="style.css" rel="stylesheet" />
	</head>
	<body>
		<h1>Cache Money</h1>
		<h3>Taylor Cannon, Zac Lozano, Anres Echeverria, Travis Cammack, James Kunze, Rene Trevino</h3>
		<div style="margin-left: 20%; margin-right: 20%;">
		<table id="link_table" border="0" >
<!--
			<tr>
				<td/>
				<td align=center>
					<a href="/upload/">Importing/Exporting</a>
				</td>
				<td/>
			</tr>
-->
			<tr>
				<td><b>Crises</b></td>
				<td><b>People</b></td>
				<td><b>Organizations</b></td>
			</tr>
			<tr>
				<td><a href="Human_Trafficking_page.html">Human Trafficking</a></td>
				<td><a href="Ricky_Martin_page.html">Ricky Martin</a></td>
				<td><a href="ASEAN_page.html">ASEAN</a></td>
			</tr>
			<tr>
				<td><a href="China_Maritime_Conflict_page.html">China Maritime Conflict</a></td>
				<td><a href="John_Kerry_page.html">John Kerry</a></td>
				<td><a href="Polaris_Project_page.html">Polaris Project</a></td>
			</tr>
			<tr>
				<td><a href="North_Korean_Conflict_page.html">North Korean Conflict</a></td>
				<td><a href="Mohamed_Morsi_page.html">Mohamed Morsi</a></td>
				<td><a href="BNP_Paribas_page.html">BNP Paribas</a></td>
			</tr>
			<tr>
				<td style="width:50%; text-align:center;"> <a href="/wcdb/import/">Importing</a></td>
				<td style="width:50%; text-align:center;"> <a href="{% url 'export' %}">Exporting</a></td>
			</tr>
		</table>
		</div>
	</body>
</html>

