{% load url from future %}
<!DOCTYPE HTML>

<html>
		<head>
		<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1"/>
		<meta charset="utf-8">
		<link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Sarina' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Michroma' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}js-image-slider.css" rel="stylesheet" type="text/css" />
        <link href="{{ STATIC_URL }}layout.css" rel="stylesheet" type="text/css" />
        <script src="{{ STATIC_URL }}js-image-slider.js" type="text/javascript"></script>
		<title>Cache Money | World Crises DB</title>
        <script src= https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js></script>
	</head>
	<body>
		<div class="header_div">
		<span class="header">WCDB | a cache money site</span>
	<nav class="menu">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Crises</a></li>
        <li><a href="">People</a></li>
        <li><a href="">Organizations</a></li>
        <li><a href="">Utilities</a>
            <ul>
                <li><a href="">Import</a></li>
                <li><a href="">Export</a></li>
                <li><a href="">UnitTests</a></li>
            </ul>
        </li>
    </ul>
  </nav>

    </div>
    <div>
      <br>
      <br>
      <h2 style="text-align: center">XML Export Facility</h2>
      <br>
      <br>
      <br>
      </div>
      <div style="text-align: center; vertical-align: top; font-family: 'BenchNine', sans-serif; font-size: 40px; color: #2B2B2B;">
        <a href="raw">Raw</a>
        <a href="download">Download</a>
      </div>
    <br><br><br>
      <pre>{{ xml }}</pre>
    <br><br><br>
  </body>

    <div class="footer">
        <span>designed by cache money &nbsp; | &nbsp;contact &nbsp;| &nbsp;report &nbsp;| &nbsp;home</span>
    </div>
</html>


