{% load staticfiles %}
<div class="bio">
	<table border="
1" cellpadding="50">
		<tr>
			<td>	
				<a href="http://www.asean.org/" target="_blank">
				<img style="width: 500px" src="{% static "loading.gif" %}"/>
				</a>
			</td>
			<td>	
				<a href="http://www.polarisproject.org" target="_blank">
				<img style="width: 500px" src="http://upload.wikimedia.org/wikipedia/en/d/d1/Polaris_Project_Logo.png" />
				</a>
			</td>
			<td>
				<a href="http://www.bnpparibas.com/" target="_blank">
				<img style="width: 500px" src="http://www.altiusdirectory.com/Finance/images/bnp-paribas-logo.png" />
				</a>
			</td>
		</tr>
	</table> 
</div>
